* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
#changecolor{
    background-color: rgb(255, 0, 140);
    height: 300px;
    width: 300px;

margin-bottom: 50px;
}




  